* {
  margin: 0;
  padding: 0;
}
.welcome-container {
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  font-family: sans-serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
/* Add dark overlay*/
.welcome-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.welcome-container * {
  z-index: 1;
}
h2 {
  font-size: 7rem;
}
.time-container {
  display: flex;
}
.greetings {
  margin-top: 1rem;
  display: block;
}
.greetings span {
  font-size: 3.5rem;
}
.datetime span {
  font-size: 1.2rem;
}
.quote-container {
  margin-top: 2rem;
  font-size: 1.2rem;
}
.line {
  margin-top: 3rem;
  width: 300px;
  border: 1px solid #fff;
}
.location {
  position: fixed;
  left: 2rem;
  bottom: 1.2rem;
  font-size: 1.1rem;
}
.paginate {
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
  font-size: 1.1rem;
}
.paginate .next {
  border-color: transparent;
  border-radius: 50%;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  transform: scale(1);
  transition: transform 0.3s;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: rgb(116 115 115 / 58%);
}
.paginate .next:active {
  transform: scale(0.9);
  outline: none;
}

.paginate .next:focus {
  outline: none;
}
.paginate .next:hover {
  background-color: rgb(116 115 115 / 88%);
  opacity: 1;
}
